.cardAnimation {
	animation: fadeInMove 1s ease;
}

.cardAnimation > img {
	animation: fadeIn 2s ease-in-out;
}

@keyframes fadeInMove {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
